#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

fieldset{
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.inp{
  display: flex;
  align-items: center;
  margin: 6px;
}

.inp input{
  width: 20px;
  height: 20px;
}

.additional{
  display: flex;
}

legend{
  text-align:left;
}

input{
  padding: 5px 15px;
}

label{
  margin-left: 8px;
}
